body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.menu-bar{
    background-color: rgb(231, 231, 231);
    display: flex;
    border-top: 2px solid rgb(85, 75, 67);
    border-bottom: 2px solid rgb(85, 75, 67);   
}
.menu-bar li{
    display: inline;
    padding-right: 30px;
}
.menu-bar a{
    text-decoration: none;
    color: rgb(31, 19, 19);
    font-size: 1em;
    font-weight: 400;
}
#logo{
    margin-left: 30px;
}
#search-bar{
    margin-top: 1em;
}
span{
    color: cornflowerblue;
}
.top-banner{
    display: flex;
    padding-left: 10px;   
}
.half-width{
    width: 50%;
    text-align: justify;
    padding-left: 30px;
}
.half-width img{
    width: 70%;   
}
.half-width h1{
    font-size: xx-large;
    font-weight: 600;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(47, 192, 236), rgb(107, 240, 147));
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
}
.about{
    display: flex;
    padding: 20px;
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: 100%;
}
.about img{
    width: 40%;
    padding-left: 20%;
}
.recipes{
    margin: 50px;
}
.recipes-head{
    text-align: center;
}
.recipe-body{
    display: flex;   
}
.recipes-details{
    width: 33.33%;
    box-shadow: 5px 5px 20px gray ;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: justify;
    border: 1px solid rgb(197, 190, 190);
    border-radius:20px;
}
.recipes-details img{
    width: 100%;
    border-radius:20px;
}
.price{
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    color:rgb(224, 9, 9);
}
.add-button{
    text-decoration: none;
    font-weight: bold;
    color: rgb(224, 9, 9);
    padding: 8px;
    border: 2px solid gainsboro;
    border-radius: 7px;
}
.recipes-details a{
    margin: 15%;
    box-shadow: 5px 5px 10px rgb(213, 215, 216);
}
.extra-recipe-body{
    display: flex;
    margin: 50px;   
}
.social-media{
    display: flex;
    margin: 65px;
    border: 2px solid rgb(217, 221, 223);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(213, 215, 216);
}
.youtube{
    font-weight: bold;
    margin-left:20%;
    margin-right: 5%;
}
.insta{
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}
.fb{
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    text-align: center;
    background-color: rgb(241, 207, 230);
    height: 135px;
    padding: 5px; 
}

